.footer,
.header {
  background: $header_bg;
  color: white;
  padding: 2rem;
  text-align: center;
}

.footer {
  padding: 4rem 1.5rem;
  z-index: 1;

  img {
    max-width: 1.5rem;
  }

  .github {
    display: block;
    margin-top: 1.5rem;
  }
}

.notifyMe {
  display: inline-block;
  margin-bottom: 2.5rem;
}
