header {
  font-weight: 400;
  text-align: center;
}

.headerWithIcon {
  align-items: center;
  display: flex;
  justify-content: center;

  img {
    margin-right: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font;
  font-weight: 400;
  line-height: 1.5em;
}
