.default-icon {
  max-width: 50px;
}

.icon {
  cursor: pointer;
  margin: 3rem;
  max-width: 8rem;
  transition: transform ease 0.1s;
  width: 100%;

  @media (min-width: $screen-md) {
    margin: 3rem;
    max-width: 10rem;
  }

  &:hover {
    transform: scale(1.2);
  }

  img {
    pointer-events: none;
  }

  &.selected,
  &.selected img {
    opacity: 1 !important;
  }
}

.selectionDone {
  .icon,
  .icon img {
    opacity: 50%;
  }
}
