.default-icon {
  max-width: 50px;
}

.icon {
  cursor: pointer;
  margin: 3rem;
  max-width: 8rem;
  position: relative;
  transition: transform ease 0.1s;
  width: 100%;

  @media (min-width: $screen-md) {
    margin: 3rem;
    max-width: 10rem;
  }

  &:hover {
    transform: scale(1.2);
  }

  img {
    pointer-events: none;
  }
}

.selectionDone {
  .icon:not(.selected) {
    &::before {
      background: green;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
