@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  &Container {
    background: rgba(white, 0.7);
    height: 100%;
    left: 0;
    opacity: 1;
    padding-top: 10rem;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
    z-index: 2;

    img {
      animation: linear 1s infinite rotate;
      width: 15rem;
    }
  }
}
