.stats {
  background: white;
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  text-align: left;
  width: auto;

  .allPie {
    max-width: 800px;
    margin: 0 auto;
  }

  h2 {
    margin: 0 0 1.5rem 0;
  }
}
