$primary: #2ecc71;
$text: #2c3e50;
$header_bg: #3498db;
$white: white;
$black: black;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);
$lighter-gray: lighten($black, 80%);
$error: #e74c3c;