/* stylelint-disable */
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
/* stylelint-enable */

$heading-font: 'Shadows Into Light Two';

@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  display: swap;
  src:
    local('Shadows Into Light Two'),
    local('ShadowsIntoLightTwo-Regular'),
    url('../assets/fonts/shadows-into-light-two-v7-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/shadows-into-light-two-v7-latin-regular.woff') format('woff');
}
